@import 'variables';

.add-proposal-form {
  height: 60vh;
}

.finalize-presentation {
  height: 60vh;
}

@mixin finalize-text {
  text-align: center;
  font-family: $primary-font;
  color: white;
  width: 100%;
  padding: 1% 3% 1%;
  background-color: $accent-color;
}

.form-title {
  @include finalize-text;
  font-size: 2em;
  margin-top: -20px;
}


.add-proposal-form {
  display: flex;
  flex-direction: column;
}

@mixin input-styles {
  width: 40%;
  margin: 3% auto 0;
  font-family: $primary-font;
  padding: 10px;
}
.title-input {
  @include input-styles;
  height: 40px;
  font-size: 1.5em;
}

.body-input {
  @include input-styles;
  height: 150px;
  font-size: 1.25em;
}

.submit-proposal-button, .finalize-button {
  @include button-styles;
  background-color: $primary-color;
  width: 125px;
  height: 75px;
  margin: 2% auto 0;
}

.submit-proposal-button:disabled, .finalize-button:disabled {
  background-color: grey;
}

.submit-proposal-button:hover, .finalize-button:hover {
  background-color: $accent-color;
}

.finalize-title {
  @include finalize-text;
  font-size: 1.5em;
  font-weight: bold;
}

.finalize-author {
  @include finalize-text;
  font-size: 1.25em;
}

.finalize-body {
  @include finalize-text;
}

.finalize-presentation-form {
  display: flex;
  flex-direction: column;
}

.location-input {
  @include input-styles;
  text-align: center;
  font-size: 1.5em;
}
