@import 'variables';

.Navigation {
  background-color: $primary-color;
  font-family: $primary-font;
  color: $main-font-color;
  width: 100%;
  margin-left: 3%;
  height: 50px;
  .username {
    padding: 17px;
    float: right;
  }
  .nav-link {
    color: $main-font-color;
    height: 18px;
    float: left;
    padding: 15px;
    text-decoration: none;
    border-top: 2px transparent solid;
    &.current-link {
      color: $main-font-color;
      border-top-color: $primary-color;
      background-color: $accent-color;
    }
  }
  .nav-link:hover {
    color: $main-font-color;
    border-top-color: $primary-color;
    background-color: $accent-color;
    transition-duration: .25s;
  }
  .logout-btn {
    border: none;
    background: none;
    color: $primary-color;
    padding: 0 4px;
    margin: 0;
    cursor: pointer;
  }
}
