@import 'variables';

.Navigation {
  bottom: 10px;
  background-color: $primary-color;
  font-family: $primary-font;
  color: $main-font-color;
  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
  height: 50px;
  margin-right: 3%;
  .username {
    padding: 17px;
    float: right;
    margin-right: 10px;
  }
  .nav-link, {
    color: $main-font-color;
    height: 18px;
    float: left;
    padding: 15px;
    text-decoration: none;
    margin-top: 5px;
    border-top: 2px transparent solid;
    &.current-link {
      color: $main-font-color;
      border-top-color: $primary-color;
      background-color: $accent-color;
    }
  }
  .nav-link:hover {
    color: $main-font-color;
    border-top-color: $primary-color;
    background-color: $accent-color;
    transition-duration: .25s;
  }
}
