@import 'variables';

.proposal-list {
  width: 100%;
  justify-content: center;
}

.proposal-list-container {
  width: 95%;
  // height: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.proposal-list-ul {
  border: 2px solid black;
  width: 30%;
  height: 100%;
}

.short-proposal {
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
  transition-duration: .25s;
}


.active-short-proposal{
  background-color: $accent-color;
  color: white;
}

.short-title {
  color: $secondary-font-color;
  font-family: $primary-font;
  margin-bottom: 10px;
}

.short-author {
  color: $secondary-font-color;
  font-family: $secondary-font;
}

.short-proposal:hover{
  background-color: $accent-color;
  color: $hover-text-color;
}
