@import 'variables';

.proposal-list {
  width: 100%;
  justify-content: center;
}

.proposal-list-container {
  width: 95%;
  // height: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.proposal-list-ul {
  border: 2px solid black;
  width: 30%;
  height: 100%;
}

.shortened-proposal {
  border-bottom: 1px solid black;
  padding: 10px;
  text-align: center;
}

.short-title {
  font-family: $primary-font;
  margin-bottom: 10px;
}

.short-author {
  font-family: $secondary-font;
}
