@import 'variables';


.signin-screen {
  font-family: $primary-font;
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signin-title {
  color: $main-font-color;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 50px;
}

.signin-link {
  width: 100%;
  justify-content: center;
}

.login-button {
  @include button-styles;
  color: $main-font-color;
  width: 150px;
  height: 50px;
  padding: 10px;
  font-size: 1.5em;
  transition-duration: .25s;
  text-shadow: 0 1px 0 black;
  box-shadow: 0 1px 0 black;
}

.login-button:hover {
  background-color: $accent-color;
  color: $hover-text-color;
  text-shadow: none;
}
