@import 'variables';
@import 'mixins';
@import 'sign-in';

body {
  display: flex;
  background-color: $primary-color;
  justify-content: center;
  align-items: center;
}

.signin-screen {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
