@import 'reset';
@import 'variables';
@import 'mixins';
@import 'sign-in';
@import 'homepage';
@import 'proposal-list';


body, html, #root, .App {
  display: flex;
  background-color: $primary-color;
  height: 100%;
  width: 100%;
}
