@import 'variables';

.target-proposal {
  padding-top: 30px;
  background-color: white;
  display: flex;
  align-items: flex-start;
  width: 70%;
  flex-direction: column;
  padding-left: 15px;
}

.target-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
}

.target-title {
  font-size: 1.5em;
  font-family: $primary-font;
  margin-bottom: 20px;
}

.target-author {
  font-size: 1.25em;
  font-weight: bold;
  font-family: $secondary-font;
  margin-bottom: 10px;
}

.target-body {
  font-size: 1em;
  font-family: $secondary-font;
  text-align: justify;
  width: 100%;
}

.empty-target-message {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  text-align: center;
}

.target-button-container button {
  @include button-styles;
  margin: 10px;
  font-size: 1em;
  text-shadow: 0 1px 0 black;
  box-shadow: 0 1px 0 black;
  color: white;
  transition-duration: .25s;
}

.target-button-container button:hover {
  background-color: $accent-color;
  color: $hover-text-color;
}
