@import 'variables';

.target-item {
  background-color: white;
  display: flex;
  width: 80%;
  flex-direction: column;
  height: 60vh;
}

.target-button-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  justify-content: center;
}

.target-title {
  font-size: 2em;
  font-family: $primary-font;
  margin-left: 5%;
  margin-top: 2%;
  font-weight: bold;
}

.target-author {
  font-size: 1.25em;
  font-weight: bold;
  font-family: $primary-font;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 2%;
}

.target-body {
  font-size: 1em;
  font-family: $primary-font;
  margin-left: 5%;
  margin-top: 20px;
  width: 100%;
}

.target-location {
  font-size: 1.5em;
  font-family: $primary-font;
  margin-left: 5%;
  margin-top: 2%;
}

.empty-target-message {
  display: flex;
  font-family: $primary-font;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  padding-left: 5%;
  padding-top: 5%;
}

.target-button-container {
  width: 100%;
  justify-content: flex-start;
  margin-left: 5%;
}


.target-button-container button {
  @include button-styles;
  background-color: $primary-color;
}

.target-button-container button:hover {
  background-color: $accent-color;
  color: white;
}

.edit-item-button {
  margin-right: 10px;
}

.delete-item-button {
  margin-right: 10px;
}
