@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


//variables

$primary-color: #2FA68B;
$primary-font: 'Yeseva One', cursive;
$secondary-font: 'Josefin Sans', sans-serif;
$accent-color: #DB4C32;


//mixins

@mixin button-styles {
  font-family: $primary-font;
  border: none;
  outline: none;
  background-color: $accent-color;
}
