@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


//variables

$primary-color: #348AA7;
$primary-font: 'Yeseva One', cursive;
$secondary-font: 'Josefin Sans', sans-serif;
$accent-color: #FFA630;
$hover-text-color: black;
$main-font-color: black;
$secondary-font-color: black;


//mixins

@mixin button-styles {
  font-family: $primary-font;
  border: none;
  outline: none;
  background-color: black;
  border-radius: 20px;
}
