@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Domine');


//variables

$primary-color: #2980b9;
$primary-font: 'Montserrat', sans-serif;
// $secondary-font: 'Domine', serif;
$accent-color: #e74c3c;
$main-font-color: white;
$secondary-font-color: black;
$hover-text-color: black;


//mixins

@mixin button-styles {
  font-family: $primary-font;
  border: none;
  outline: none;
  font-size: 1em;
  box-shadow: 1px 1px 1px 1px black;
  width: 80px;
  height: 30px;
  color: $main-font-color;
  transition-duration: .25s;
}
